@import '../../styles/variables';
@import '../../styles/breakpoints.scss';
.about-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding-left: 12vw;
  place-items: center;
  margin-top: -7vh;

  @include media('<=tablet') {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding-top: 2rem;
    margin-left: -2rem;
  }

  &__bio {
    p {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  &__bio::after {
    content: '';
    width: 2rem;
    height: 2px;
    position: absolute;
    background: currentColor;
    top: calc(100% + -2rem);
  }
  &__social {
    margin-left: -10vw;
    @include media('<=tablet') {
      margin-left: 4rem;
    }
    .social__image {
      justify-content: center;
      place-items: center;
    }
    .social__sign {
    }
    .social__icons {
      margin: 30px 0;
      a {
        img {
          width: 20px;
          padding: 0 0 0 34px;
        }
      }
    }
  }
}
