@import '../../styles//variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import '../../styles/breakpoints.scss';
.gallery-wrap {
  margin-left: -5vw;
  margin-right: -5vw;

  @include media('<=phone') {
    top: -60%;
    margin-left: -5vw;
    margin-right: -5vw;
  }
}

.gallery-counter {
  position: absolute;
  top: 10%;
  left: 100px;
  z-index: 1;
  mix-blend-mode: difference;
  line-height: 16px;
  color: $gray;

  font-family: 'Bai Jamjuree';
  font-weight: 600;

  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;

  .divider {
    content: '';
    background-color: $gray;

    width: 6.25vw;
    margin: 7px 10px;
    height: 1px;
    display: inline-block;
  }
}

.gallery {
  height: 80vh;

  padding: 3vh 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  @include media('<=phone') {
    margin-bottom: -12vh;
    max-height: 60vh;
  }

  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
  }

  .gallery-item-info {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    transform: translateX(-20%);
    color: $offWhite;
    color: $white;
    .gallery-info-title {
      line-height: 1vw;
      font-family: 'Bai Jamjuree';
      font-weight: 600;
      color: $black;
      font-size: 6vw;
      -webkit-font-smoothing: antialiased;
    }

    .gallery-info-subtitle {
      position: relative;
      line-height: 6vw;
      color: transparent;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 6vw;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 2px $accent;
    }

    .gallery-info-category {
      position: relative;
      line-height: 24px;
      font-family: 'Bai Jamjuree';
      font-weight: 400;
      color: $black;
      font-size: 24px;
      -webkit-font-smoothing: antialiased;
      margin-top: 2vh;
    }
  }
  .gallery-item-wrapper {
    aspect-ratio: 16/9;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 100vw;

    &.is-reveal {
      .gallery-item-image {
        transform: scale(1);
        filter: none;
      }
    }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: auto;
    transform-origin: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%) sepia(20%) brightness(80%);
  }
}
