@import '../../styles/_mixins.scss';
@import '../../styles//variables';

.header-container {
  position: relative;

  .welcome-text {
    margin: 25vh 0 -26vh 13vw;
    font-size: 1rem;
  }

  h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
    text-align: start;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    margin: 25vh 0 0 11vw;
    line-height: 14vh;
    width: 100%;
  }

  .scrl {
    max-width: 23px;
    /* max-height: 8px; */
    margin: -10vh 0 0 84vw;
  }
}
.lineParent {
  overflow: hidden;
  .lineChildren {
    transform: translate(0, 500px);
  }
}

.lineChildren {
  transform: translate(0, 500px);
}
