@import '../breakpoints.scss';
@import '../variables';

.container-notfound {
  display: grid;
  place-items: center;

  .content {
    text-align: center;
    padding-top: 200px;
    color: $black;

    h1 {
      font-weight: 900;
      // font-size: 165px;
      font-size: 72px;

      line-height: 1;
      margin-bottom: -10px;
      // opacity: 0.6;
    }
    h2 {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 6px;
      opacity: 0.9;
      color: $accent;
    }
    p {
      font-weight: 300;
      font-size: 18px;
      opacity: 0.7;
      margin-bottom: 43px;
    }
    a {
      display: inline-block;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid $black;
      padding: 8px 14px;
      border-radius: 4px;
      // opacity: 0.4;
      cursor: pointer;
      text-decoration: none;
      background-color: $accent;
      color: $black;
    }
    a:hover {
      // opacity: 0.2;
      background-color: $black;
      color: $accent;
    }
  }
}
