@import '../../styles/_mixins.scss';
@import '../../styles//variables';
@import '../../styles/breakpoints.scss';

.page-guides {
  position: relative;
  padding: 1rem;
  background-color: #ebc340;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-bottom: -10rem;
  // background-color: hsl(var(--clr-neutral-200));
  // background-image: radial-gradient($dots 10%, transparent 15%);
  // background-position: 0 0;
  // background-size: 7px 7px;
  background-color: #ffffff;
  color: #323a45;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-evenly;
  padding: 48px 0 0 0;
  grid-gap: 80px;
  grid-gap: 80px;
  gap: 80px;
  height: 35px;

  @include media('<=420px') {
    display: grid;
    place-items: center;
    max-width: 40%;
  }
  .guide {
    a {
      font-size: 1.6rem;
      color: $black;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin-top: -4rem;
    }
    img {
      margin-left: 16px;
      border: 2px solid $black;
      padding: 4px;
      height: 28px;
      width: 29px;
      margin-right: 15px;
      border-radius: 100px;
      transition: 0.4s ease-in-out;
      transform: rotate(180deg);

      &:hover {
        background: $accent;
      }
    }
  }

  .nextProj img {
    transition: 0.4s ease-in-out;
    transform: rotate(360deg);
  }
}
