@import '../../styles/breakpoints.scss';
@import '../../styles/variables';

.section-header {
  padding-left: 4vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  height: auto;
  @include media('<=phone') {
    margin-left: -2rem;
  }

  .header__content {
    // padding: 34vh 5vw 3vh 4vw;
    padding: 34vh 5vw 3vh 8vw;
    height: calc(100% - 12rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
    height: calc(100% - 12rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
    .content-title {
      padding: 2rem;
      height: calc(100vh - 300px);
      overflow: auto;
    }
    &-subtitle {
      font-family: 'Bai Jamjuree', sans-serif;
      font-size: 3.5rem;
      font-weight: 600;
      margin: 0;
      line-height: 1.2;
      pointer-events: none;
      @include media('<=tablet') {
        font-size: 2rem;
      }
    }
    &-heading {
      font-weight: normal;
      margin: 0;
      font-size: 1.5rem;

      @include media('<=phone') {
        width: 248px;
      }
    }
    &-intro {
      p {
        margin: 10vh 0 4rem 0;
        position: relative;
        line-height: 1.5;
      }
    }
    &-intro::after {
      content: '';
      width: 2rem;
      height: 2px;
      position: absolute;
      background: currentColor;
      top: calc(100% + 3rem);
    }
  }
}
