@import '../breakpoints.scss';
@import '../variables';
@import '../loco-scroll.scss';

#cap .flex_01 img {
  @include media('<=phone') {
  }
}

.title-name {
  @include media('<=phone') {
    margin-left: -9rem;
  }
}

#info {
  position: relative;
  max-width: 960px;
  margin: 0 auto 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.5em;
  z-index: 100;

  @include media('<=desktop') {
    max-width: 80%;
    padding: 3rem 0;
  }

  @include media('<=tablet') {
    margin-inline: auto;
    width: min(80%, 70.5rem);
  }
  @include media('<=phone') {
    flex-direction: column;
    justify-content: space-between;
    margin-inline: auto;
    width: 50rem;
    left: -3rem;
  }
}

.flex_info {
  display: flex;
  justify-content: space-between;

  @include media('<=desktop') {
    max-width: 70%;
    padding: 3rem 0;
  }
}

h1,
h2,
h3 {
  font-family: 'Bai Jamjuree';
}

h3 {
  color: #8f969e;
}

.flex_info h1:after {
  content: '_';
  line-height: 1;
  color: var(--color-link);
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0 0 0.5rem;
  display: block;
}

.flex_info_item li,
#visit,
.credit_box_item,
.credit_tit {
  padding-bottom: 10px;
  list-style: none;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.flex_info_item.is_visible li,
#visit.is_visible,
.credit_box_item.is_visible,
.credit_tit.is_visible {
  padding-top: 0;
  letter-spacing: 0.5px;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.longtext {
  line-height: 60px;
}

.longtext.is_visible {
  line-height: 25px;
}

.flex_info_item {
  text-align: left;
}

.flex_info_item:nth-child(1) {
  width: 10%;
}

.flex_info_item:nth-child(2) {
  width: 40%;
}

.flex_info_item:nth-child(3) {
  width: 40%;
}

.flex_info_item img {
  max-width: 500px;
  margin: 0 0 0 0;
}

.year li,
.role li {
  line-height: 15px;
  letter-spacing: 1px;

  font-size: 16px;
  line-height: 1.5em;
}

.year li:nth-child(1),
.role li:nth-child(1) {
  font-family: 'Bai Jamjuree';
  font-weight: 700;
}

.explanation {
  line-height: 30px;
}

#cap {
  position: relative;
  max-width: 960px;
  margin: 3rem auto;
  z-index: 100;

  @include media('<=desktop') {
    display: block;
    max-width: 80%;
    padding: 3rem 0;
  }
  @include media('<=phone') {
    display: block;
    max-width: 40%;
    padding: 3rem 0;
    margin-left: -1rem;
  }
}

.flex_01 img,
.flex_02 img,
.flex_03 img {
  // transform: scale(1.3);
  margin-top: -8rem;
  -moz-transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.flex_01.is_visible img,
.flex_02.is_visible img,
.flex_03.is_visible img {
  // transform: scale(1.3);
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.flex_01 img {
  width: 100%;
}

.flex_02 {
  display: flex;
  justify-content: space-between;
}

.flex_02_item {
  width: 48%;
  margin-bottom: 80px;
}

.flex_02_item img {
  width: 100%;
}

.flex_03 {
  display: flex;
  justify-content: space-between;
}

.flex_03_item {
  width: 30%;
  margin-bottom: 80px;
}

.flex_03_item img {
  width: 100%;
}

.proj {
  min-height: fit-content;
  margin: 1rem;
}
