$bg-color: #f7f9fa;
$black: #000000;
$white: #ffffff;
$yellow: #fff3d8;
$offWhite: #ccc;
$dots: #c8d3de;
// $accent: #ea281e;
$accent: #ffc609;
$background: #f7f9fa;
$fontColor: #000;
$accent-Two: #ffc600;
