@import './breakpoints.scss';
@import './variables';
@import './loco-scroll.scss';

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
loader-wrapper h3 {
  color: var(--fontColor);
  font-family: 'Work sans', serif;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 1rem;
}

h2,
h3,
p {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 100px 0;
}

.container {
  padding: 0 1.5rem;
}

html,
body {
  font-family: 'Work Sans', sans-serif;
  // cursor: none;
  background-color: $bg-color;
  background-image: radial-gradient($dots 10%, transparent 15%);
  background-position: 0 0;
  background-size: 7px 7px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-bottom: 30px;
}

.main-container {
  padding: 2.15px 5vw;
  overflow: hidden !important;
}

section {
  .section-header {
    margin-bottom: 50px;
  }
}
.absolute {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 1;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // display: grid;
  // place-items: center;
  // align-items: center;
  // margin-left: -12vw;

  transition: 'all 0.25s ease-in-out';
  // background-color: #191919;
  background-color: #000000;
  color: #fff;
  z-index: 99;

  .logo {
    img {
      width: 25vw;
      margin-left: -7vw;
      // margin-left: auto;
      // margin-right: auto;
      // display: block;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
