@import '../../../styles/_mixins.scss';
@import '../../../styles//variables';

.menu-button-wrap {
  // position: fixed;
  right: 11vw;
  // top: 34px;
  // z-index: 11;

  will-change: transform;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

  .menu-button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: none;
    background: 0 0;
    margin-top: -12px;
    margin-right: 15vw;
    will-change: transform;
    transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 14;

    span {
      &:after,
      &:before {
        content: '';
        width: 4px;
        height: 48px;
        position: absolute;
        background-color: $black;
        left: 90%;

        top: 50%;
        display: block;
        will-change: transform;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &:before {
        // transform: translate(-5px, -50%) scaleY(0.7) rotate(180deg);
        transform: translate(-5px, -50%) scaleY(0.7) rotate(90deg);
      }

      &:after {
        // transform: translate(5px, -50%) scaleY(0.7) rotate(0);
        transform: translate(-5px, -33%) scaleY(0.7) rotate(90deg);
      }
    }
  }

  &.open {
    transform: translateX(80px);
    transition-delay: 0.2s;

    .menu-button {
      transform: rotate(90deg);
    }

    span {
      &:before {
        transform: translate(-50%, -50%) rotate(315deg);
        background-color: $accent;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(45deg);

        background-color: $accent;
        z-index: inherit;
      }
    }
  }

  @include mq('tablet', max) {
    display: none;
  }
}
