.header-nav {
  height: 120px;
  width: 100%;
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  z-index: 99;
}

.logo {
  margin-left: 15vw;
  img {
    width: 120px;
  }
}

.menu {
  margin-right: 15vw;
  button {
    transform-origin: center;
    border: none;
    padding: 20px;
    background: none;
    outline: none;
    span {
      width: 36px;
      height: 4px;
      display: block;
      background: black;
      margin: 4px;
    }
  }
}
