// @import '../../styles/_mixins.scss';
@import '../../styles//variables';
@import '../../styles/breakpoints.scss';

// 'phone': 425px,
// 'tablet': 768px,
// 'desktop': 1366px,
// 'LGdesktop': 1920px,
.header {
  visibility: hidden;
  height: 100vh;

  .container {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 24px;
      height: 100vh;
      .header-content {
        // insert responsive
        width: 80%;
        // border: 1px solid red;
        // color: red;

        .header-content-inner {
          // width: 400px;
          margin: 0 auto;

          h1 {
            font-weight: 600;
            font-size: 7vw;
            text-transform: uppercase;
            font-family: 'Bai Jamjuree', sans-serif;
            margin-bottom: 24px;
            line-height: 12vh;
            margin-left: 9vw;
            margin-top: 31vh;

            .header-content-line {
              margin: 0;
              height: 87px;
              overflow: hidden;
              @include media('<=tablet') {
                width: 137%;
                height: 113px;
              }
              @include media('<=LGdesktop') {
                width: 137%;
                height: 113px;
              }
              @include media('>1920px') {
                font-size: 5vw;
                width: 137%;
                height: 113px;
              }
            }
          }
        }
      }
    }
  }
}
