@import '../../styles//variables';
@import '../../styles/breakpoints.scss';

.header {
  visibility: hidden;
  height: 100vh;

  .container {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 24px;
      height: 100vh;
      @include media('<=phone') {
        margin: -50px 0 0 -35px;
      }
      .header-content {
        width: 80%;
        .header-content-inner {
          margin: 0 auto;

          h1 {
            font-weight: 600;
            font-size: 7vw;
            text-transform: uppercase;
            font-family: 'Bai Jamjuree', sans-serif;
            margin-bottom: 24px;
            line-height: 9vh;
            margin-left: 9vw;
            margin-top: 31vh;

            .header-content-line {
              margin: 0;
              height: 87px;
              overflow: hidden;
              @include media('<=tablet') {
                height: 35px;
                line-height: 4vh;
                // margin-left: -15vw;
              }

              @include media('>=desktop') {
                line-height: 9vh;
                /* margin-left: -1vw; */
                font-size: 10vh;
                /* margin-left: 0vw; */

                width: 72vw;
              }
              @include media('>=LGdesktop') {
                // height: 96px;
                line-height: 9vh;
                /* margin-left: -1vw; */
                font-size: 10vh;
                /* margin-left: 0vw; */

                width: 72vw;
              }
              @include media('>=LGdesktop') {
                // height: 96px;
                line-height: 9vh;
                margin-left: -1vw;
                font-size: 11vh;
                margin-left: -5vw;

                width: 72vw;
              }
            }
          }
        }
      }
    }
  }
}
