@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/breakpoints.scss';

.main {
  height: 100vh; //fallback option
  height: calc(var(--vh, 1vh) * 100);
  // background-color: $bg-color;
  // background-image: radial-gradient($dots 10%, transparent 15%);
  // background-position: 0 0;
  // background-size: 7px 7px;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  .row {
    flex-direction: column;
    justify-content: center;
    .line {
      height: 6vw;
      overflow: hidden;
      margin: 1px 0 0 10vw;

      @include media('<=tablet') {
        height: 48px;
      }
      @include media('<=phone') {
        height: 62px;
      }
      span {
        position: absolute;
      }
    }

    h1 {
      font-size: 7vw;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Bai Jamjuree', sans-serif;
      line-height: 26.2rem;
      font-weight: 600;
      z-index: 10;
      color: $black;
      // // color: $bg-color;
      // mix-blend-mode: difference;

      @include media('<=tablet') {
        font-size: 2.4rem;
        line-height: 3rem;
      }
      @include media('<=phone') {
        margin-top: 72px;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
    }
  }
}
